<html>
  <head>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-simple-login.js">
    </script>
    <!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js"></script>
    -->
    <script src="angular.min.js"></script>
    <script src="angularfire.js"></script>
  </head>
  <body ng-controller="AppCtrl">
    <div ng-if="!user">
      <a href ng-click="signin('github')">Sign in with Github</a>
      <a href ng-click="signin('twitter')">Sign in with Twitter</a>
      <a href ng-click="signin('password')">Sign in with Email/Password</a>
    </div>
    <div ng-if="user">
      Welcome, {{user.displayName}}!
      <a href ng-click="signout()">Sign out</a>
    </div>
    <ul ng-if="user.projects">
      <li ng-repeat="id in user.projects">
        {{this[id].name}}: {{this[id].desc}}
        <button type="button" ng-click="editProject(id)" ng-if="project.id != id">Edit</button>
      </li>
    </ul>
    <form ng-submit="add(project)">
      <input type="text" ng-model="project.name" placeholder="Name" required/>
      <input type="text" ng-model="project.desc" placeholder="Description"/>
      <button type="submit">Submit</button>
    </form>
    project:
    <pre>{{project | json}}</pre>
    user:
    <pre>{{user | json}}</pre>
    auth_user:
    <pre>{{auth_user | json}}</pre>
    <script type="text/coffeescript" src="app.coffee"></script>
    <script type="text/javascript" src="coffee-script.js"></script>
  </body>
</html>
