<html>
  <head>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-simple-login.js">
    </script>
    <!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js"></script>
    -->
    <script src="angular.min.js"></script>
    <script src="angularfire.js"></script>
  </head>
  <body ng-app="opentrackerapp" ng-controller="AppCtrl">
    <a href ng-click="signin('github')" ng-if="!user">Sign in with Github</a>
    <div ng-if="user">
      Welcome, {{user.displayName}}!
      <a href ng-click="signout()">Sign out</a>
    </div>
    <ul>
      <li ng-repeat="project in projects">{{project.name}}: {{project.desc}}</li>
    </ul>
    <form ng-submit="add(project)">
      <input type="text" ng-model="project.name" placeholder="Name" required/>
      <input type="text" ng-model="project.desc" placeholder="Description"/>
      <button type="submit">Submit</button>
    </form>
    project:
    <pre>{{project | json}}</pre>
    projects:
    <pre>{{projects | json}}</pre>
    all_projects:
    <pre>{{all_projects | json}}</pre>
    user:
    <pre>{{user | json}}</pre>
    <script>
      var url = 'https://opentracker.firebaseio.com';
      var app = angular.module('opentrackerapp', ['firebase']);
      app.controller('AppCtrl', ['$scope', 'angularFire', 'angularFireAuth',
        function AppCtrl(scope, angularFire, angularFireAuth) {
          window.scope = scope
          scope.signin = function(id){
            angularFireAuth.login(id)
          }
          scope.signout = function(id){
            angularFireAuth.logout()
          }
          scope.add = function(project){
            scope.project.creator_id = scope.user.id
            // scope.projects.push(scope.project)
            angularFire(url+'/projects/123', scope, 'new_project', {}).then(function(result){
              scope.new_project = scope.project
              scope.project = {}
            });
          }
          scope.escape = function(str){
            return str.replace(/\./g, '_')
          }
          function safeApply(fn) {
            window.setTimeout(function(){
              (scope.$$phase || scope.$root.$$phase) ? fn() : scope.$apply(fn);
            })
          }
          scope.project = {}

          angularFireAuth.initialize(url, {name: 'auth_user'})
          scope.$watch('auth_user', function(){
            if (scope.auth_user) {
              var path = url+'/users/'+scope.auth_user.id
              angularFire(path, scope, 'user', {}).then(function(result){
                scope.disassociate_user = result
                if (scope.user == {}) {
                  safeApply(function(){
                    scope.user.email       = scope.auth_user.email
                    scope.user.displayName = scope.auth_user.displayName
                    scope.user.name        = scope.auth_user.name
                  })
                }
              });
              angularFire(path+'/projects', scope, 'projects', []).then(function(result){
                scope.disassociate_projects = result
              });
              angularFire(url+'/projects', scope, 'all_projects', []).then(function(result){
                scope.disassociate_all_projects = result
              });
            } else {
              if (scope.disassociate_user) scope.disassociate_user()
              if (scope.disassociate_projects) scope.disassociate_projects()
              if (scope.disassociate_all_projects) scope.disassociate_all_projects()
              scope.user = null
            }
          })
        }
      ]);
    </script>
  </body>
</html>
